<form>
  <div class="group">
    <input type="text" placeholder="用户名" class="user-name">
    <span class="bar"></span>
  </div>
  <button type="button" class="button buttonBlue signin">
    登录
  </button>
</form>
